// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.footer {
    text-align: center;
}
.alert {
    margin-bottom: 0;
}
.col-products {
   padding: 20px;
}


.cardShow {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.container-xl {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.products-main {
    text-align: center;
}


